{% extends 'AnketaBundle::layout.html.twig' %}

{% block content %}
{% if app.session.hasFlash('anonymizacia') %}
    <div class="big-success-flash"><div class="big-success-flash-in">
        {{ app.session.flash('anonymizacia') }}
    </div></div>
{% endif %}
<h2>{% trans %}hlasovanie.dakujeme.dakujeme{% endtrans %}</h2>
<p>
{% trans %}hlasovanie.dakujeme.dakujeme_za_cas{% endtrans %}

{% trans %}hlasovanie.dakujeme.potrebujeme_ucast{% endtrans %}

{% trans %}hlasovanie.dakujeme.povedzte_ostatnym{% endtrans %}
</p>
{% include 'AnketaBundle:Welcome:likebox.html.twig' %}
{% if skratka_fakulty == 'FMFI' %}
    <p>{% trans %}welcome.index.zverejnenie_vysledkov{% endtrans %}</p>
{% else %}
    {# TODO: kedy sa zverejnuju vysledky na inych fakultach? #}
{% endif %}

{% endblock %}
