{#
 # @param globalProgressbar the progress bar data
 # @param mode the context in which we're shown, i.e. 'welcome', 'stats', ...
 #}

{% if globalProgressbar and globalProgressbar.progressTotal > 0 %}
{% if mode == 'welcome' %}
<p>Zúčastnilo sa už <strong>{{ globalProgressbar.progressDone }} študentov</strong>.
Našim cieľom tohto roku je dosiahnuť 40% účasť. Preto neváhajte a zapojte sa tiež!</p>
{% endif %}
<div class="progressbar-welcome-wrapper" title="{{ "%.0f%%" | format(globalProgressbar.percentDone) }}"></div>
{% endif %}
