{#
 # @param progressAnon the progress bar data for anonymization
 # @param progressVoters the progress bar data for voter
 # @param voters total number of voters
 # @param anon total number of people that anonymized
 #}
{% if anon > 5 and voters > 5 %}
{% if access.hlasovanie.isVotingOpen %}
<p>{% trans with {'%voters%': voters, '%anon%': anon} %}hlasovanie.globalProgressbar.kto_hlasoval{% endtrans %}
{% if skratka_fakulty == 'FMFI' %}
{% trans %}hlasovanie.globalProgressbar.ciel{% endtrans %}
{% else %}
{% trans %}hlasovanie.globalProgressbar.zapojte_sa{% endtrans %}
{% endif %}
</p>
{% else %}
<p>{% trans with {'%voters%': voters} %}hlasovanie.globalProgressbar.kto_hlasoval_nakoniec{% endtrans %}</p>
{% endif %}
<div class="progressbar-welcome-wrapper"
     data-anon="{{ "%.0f%%" | format(progressAnon.percentDone) }}"
     data-voters="{{ "%.0f%%" | format(progressVoters.percentDone) }}"
    ></div>

{% endif %}
