{% extends 'AnketaBundle::layout.html.twig' %}

{% block content %}
<h2>Nemáte oprávnenie hlasovať v ankete</h2>
<p>
Hlasovať v študentskej ankete môžu iba študenti.
Ďakujeme za pochopenie.
</p>
<p>
V <a href="https://anketa.fmph.uniba.sk/demo/">demo verzii ankety</a> si môžte pozrieť, ako vyzerá hlasovanie.
Odpovede zadané v demo verzii sa nerátajú do normálneho hlasovania.
</p>
{% endblock %}
