{% extends 'AnketaBundle::layout.html.twig' %}

{% block title %}Anketa{% endblock %}

{% block content %}
<h2>Nemáte oprávnenie hlasovať v ankete</h2>
<p>
Hlasovať v študentskej ankete môžu iba študenti.
Ďakujeme za pochopenie.
</p>
<p>
V <a href="https://anketa.fmph.uniba.sk/demo/">ukážkovej verzii ankety</a> si môžte pozrieť, ako vyzerá hlasovanie.
Odpovede zadané v ukážkovej verzii sa nezarátavajú do normálneho hlasovania.
</p>
<p>
K dispozícii sú <a href="https://anketa.fmph.uniba.sk/vysledky/2010-2011">výsledky minuloročnej ankety</a>.
</p>
{% endblock %}