{% extends 'AnketaBundle::layout.html.twig' %}

{% block title %}Faq - Anketa{% endblock %}

{% block content %}
<div class="faq">
    <h2 class="faq">Načo je dobrá anketa?</h2>
        <div class="faq-item">
            Anketa je v prvom rade možnosť konštruktívne hodnotiť rôzne
            aspekty fakulty. Tieto dáta poslúžia jednak budúcim študentom,
            ktorí si budú môcť na základe komentárov a hodnotení spraviť
            predstavu o jednotlivých predmetoch, ale aj samotní prednášajúci
            a cvičiaci majú možnosť zistiť čo si o predmetoch myslia
            študenti. V neposlednom rade je anketa podnetom pre vedenia
            jednotlivých katedier, ako zlepšiť úroveň výučby, alebo upraviť
            študijné programy. Len tak mimochodom, povinnosť usporiadať
            anketu vyplýva zo zákona o vysokých školách :)
        </div>
    <h2 class="faq">Keď je to anonymné, prečo sa musím prihlasovať?</h2>
        <div class="faq-item">
            <p>
                Dôvodov je niekoľko. Za prvé, potrebujeme zabezpečiť, aby mohli
                hlasovať iba študenti, ktorí mali jednotlivé predmety
                zapísané. Za druhé, je dôležité, aby nikto nemal viac hlasov. Za
                tretie, anketa obsahuje veľké množstvo otázok a vyplniť ich naraz
                by mohla byť nepríjemná otrava. Pomocou prihlasovania máte
                možnosť si vypĺňanie rozdeliť na viacero častí.
            </p>
            <p>
                Dočasné neanonymné dáta sú ukladané v zabezpečenej databáze a
                majú k nim prístup iba vybraní vývojári. Kto je spokojný
                so svojimi odpoveďami, klikne na tlačidlo "Anonymizuj a ukonči
                hlasovanie", ktoré zabezpečí vymazanie identifikátora pri jeho
                odpovediach, takže od tohto momentu nie je možné priradiť odpoveď
                k nikomu konkrétnemu, či odlíšiť tieto odpovede od ostatných. V
                databáze zostane už len informácia, že daný človek už hlasoval a
                táto informácia zostane neverejná.
            </p>
        </div>
    <h2 class="faq">Dokedy môžem hlasovať?</h2>
        <div class="faq-item">
            Hlasovať je možné len do 15.1.2012 23:59:59.
        </div>
    <h2 class="faq">Kto je za anketou?</h2>
        <div class="faq-item">
            Študentský vývojový tím, viď <a href="http://svt.fmph.uniba.sk/">http://svt.fmph.uniba.sk/</a>. Ak sa
            chceš stať členom a prispieť tak k vývoju ankety a ďalších
            zaujímavých projektov, napíš nám.
        </div>
    <h2 class="faq">Kto sa dostane k dátam z ankety?</h2>
        <div class="faq-item">
            <p>
                Prístup k výsledkom ankety sa riadi <a href="http://www.fmph.uniba.sk/index.php?id=2940">smernicou dekana FMFI UK</a>.
            </p>
            <p>
                Štatistické výsledky a anonymné komentáre verejne sprístupňujeme
                po ich spracovaní, zvyšné výsledky si môžu pozrieť všetci
                členovia akademickej obce FMFI UK (študenti aj
                zamestnanci). Pozrite si <a href="/vysledky/2010-2011">výsledky ankety 2010/2011</a>.
            </p>
     </div>
    <h2 class="faq">Naďabil som sa na bug/napadlo mi vylepšenie. Čo mám robiť?
</h2>
        <div class="faq-item">
        <p>
        Určite nám napíš mail na adresu <a href="mailto:fmfi-anketa-users@googlegroups.com">fmfi-anketa-users@googlegroups.com</a>.
        </p>
        <p>
    Pre akékoľvek ďaľšie poznámky, pripomienky, kritiku, či slová vďaky neváhaj použiť <a href="http://www.facebook.com/FMFIanketa">našu oficiálnu Facebook stránku</a>.
        </p>
        </div>
    <h2 class="faq">Čo by som ešte mal vedieť?</h2>
        <div class="faq-item">
        Anketa je open source projekt licencovaný pod GPLv3+, pre
        zdrojové kódy a viac informácií navštív <a href="http://code.google.com/p/fmfi-anketa/">http://code.google.com/p/fmfi-anketa/</a>.
      </div>
</div>
{% endblock %}
