{% extends 'AnketaBundle:Hlasovanie:index.html.twig' %}

{% block title %}Faq - Anketa{% endblock %}

{% block content %}
    <h2>Načo je dobrá anketa?</h2>
        <div class="question">
                Anketa je v prvom rade možnosť konštruktívne hodnotiť rôzne aspekty fakulty.
        Tieto dáta poslúžia jednak budúcim študentom, ktorí si budú môcť na základe
        komentárov a hodnotení spraviť predstavu o jednotlivých predmetoch, ale
        aj samotní prednášajúci a cvičiaci majú možnosť zistiť čo si o predmetoch myslia študenti.
        V neposlednom rade je anketa podnetom pre vedenia jednotlivých katedier ako
        zlepšiť úroveň výučby, alebo upraviť študijné programy.
        Len tak mimochodom, povinnosť usporiadať anketu vyplýva zo zákona o vysokých školách :)
        </div>
    <h2>Kto je za anketou?</h2>
        <div class="question">
          Študentský vývojový tým v zložení Peter Perešíni, Martin Sucha, Tomáš Belan,
        Jakub Marek, Jakub Markoš, Ivan Trančík a Martin Králik pod vedením Mgr. Tomáša Vinařa PhD.
        </div>
    <h2>Kto sa dostane k dátam z ankety?</h2>
        <div class="question">
          Štatistické výsledky a anonymné komentáre budú prístupné pre všetkých študentov a akademických členov fakulty.
     </div>
    <h2>Ako funguje spomínaná anonymizácia?</h2>
        <div class="question">
         Počas hlasovania sú odpovede a komentáre ukladané do databázy dočasne
        spolu s identifikátorom autora, takže je možné
        vypĺňať anketu aj na viac krát. Tieto dočasné neanonymné dáta sú ukladané v zabezpečenej databáze a majú k nim prístup iba
        vybraní developeri z ŠVT.
        Keď je participant spokojný so svojimi
        odpoveďami, klikne na tlačidlo "Anonymizuj a ukonči hlasovanie",  ktoré
        zabezpečí vymazanie identifikátora pri jeho odpovediach, takže od tohto momentu nie
        je možné priradiť ľubovoľnú odpoveď k niekomu konkrétnemu, či odlíšiť tieto
        odpovede od ostatných. V databáze zostane už len informácia že daný
        človek už hlasoval a táto informácia zostane neverejná.
       </div>
    <h2>Naďabil som sa na bug/napadlo ma vylepšenie. Čo mám robiť?
</h2>
        <div class="question">
         V prvom rade navštív <a href="http://code.google.com/p/fmfi-anketa/">http://code.google.com/p/fmfi-anketa/</a>.
        Teraz máš na výber - buď vyplň bug report a počkaj kým to niekto opraví, alebo vyplň bug report,
        stiahni si zdrojový kód, oprav to sám/sama a hneď nám k tomu reportu prilož aj patch :-)
        </div>
    <h2>Čo mám spraviť, ak chýba v hodnotení učiteľ alebo cvičiaci?</h2>
        <div class="question">
Pošlite meno učiteľa a kód predmetu ako issue do bug-trackera na <a href="http://code.google.com/p/fmfi-anketa/">http://code.google.com/p/fmfi-anketa/</a>
      </div>
    <h2>Čo by som ešte mal vedieť?</h2>
        <div class="question">
        Anketa je open source projekt licencovaný pod GPLv3+, pre
        zdrojové kódy a viac informácií navštív <a href="http://code.google.com/p/fmfi-anketa/">http://code.google.com/p/fmfi-anketa/</a>.
      </div>
{% endblock %}
