{% extends 'AnketaBundle::layout.html.twig' %}
{% block content %}

<h2>Študentská Anketa FMFI</h2>

<p>Vitaj v Študentskej ankete 2011! Zapoj sa aj ty a prezentuj svoj názor!</p>

<p><a class="bigbtn" id="uvod_prihlas" href="{{ path('anketa') }}">
<span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">Hlasuj!</span></span></span></a></p>
<p>Aká je táto anketa?</p>
<ul>
<li><b>Rýchla</b> - snažili sme sa vybrať čo najmenej otázok, celá anketa zaberie oveľa menej času ako stará anketa</li>
<li><b>K veci</b> - anketa automaticky načíta zoznam absolvovaných predmetov spolu s prednášajúcimi a cvičiacimi</li>
<li><b>Anonymná</b> - v rámci ukončenia Tvojho hlasovania sú všetky odpovede zanonymizované, takže nie je možné spätne zistiť komu patria ktoré odpovede</li>
<li><b>Mobilná</b> - hlasuj pomocou čohokoľvek a kdekoľvek, vrátane mobilov a smártfónov</li>
<li><b>Má prekrásne hviezdičky</b> - náš tým tvrdo pracoval aby vám poskytol state-of-the-art hviezdičkové hlasovanie</li>
</ul>
<h3>AJ TY MÔŽEŠ ZMENIŤ NAŠU ALMA-MÁTER K LEPŠIEMU ! ! 1 1 ! one</h3>
<h3>Neveríš?</h3><p> Spýtaj sa tejto priateľskej Godzilly -</p> <img class="bigbtn" src="http://majak.blog.matfyz.sk/godzilla" alt="Priateľská Godzilla"/>


{% endblock %}
