{% extends 'AnketaBundle::layout.html.twig' %}
{% block content %}

<h2>Študentská anketa FMFI</h2>

<p>Vitajte v Študentskej ankete pre zimný semester 2011/2012! Zapojte sa aj Vy a prezentujte svoj názor!</p>

<h3>Novinky</h3>

<ul>
<li><b>7.12.2011</b> &mdash; Prečítajte si zverejnené <a href="{{ asset('bundles/anketa/files/anketa-stanovisko-2010.pdf') }}">stanovisko vedenia fakulty</a> k výsledkom poslednej ankety a zhodnoťte, či tá námaha stála za to ;-)</li>
<li><b>6.12.2011</b> &mdash; Anketa je späť, a aj vďaka Vašim pripomienkam rýchlejšia a lepšia ako kedykoľvek predtým. Nenechajte sa dvakrát ponúkať a hlasujte už teraz ;-)</li>
</ul>

<p><a class="bigbtn" id="uvod_prihlas" href="{{ path('anketa') }}">
<span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">Hlasuj!</span></span></span></a></p>
<p style="text-align: center"> Otvorené do <strong>15.1.2012 23:59:59</strong></p>
{#
<p>Hlasovanie v ankete je ukončené. Ďakujeme všetkým zúčastneným za vyplnenie :)</p>

<p><a class="bigbtn" id="uvod_prihlas" href="{{ path('statistics') }}">
<span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">Výsledky</span></span></span></a></p>
#}

{% render "AnketaBundle:Hlasovanie:globalProgressbar" with { 'mode': 'welcome' } %}

<p>Aká je nová anketa?</p>
<ul>
<li><b>Ešte rýchlejšia</b> &mdash; starostlivo sme znova prešli všetky pôvodné otázky a povyberali len tie najdôležitejšie</li>
<li><b>Ešte jednoduchšia</b> &mdash; nejasné otázky boli preformulované, nevhodné možnosti pri odpovediach upravené</li>
<li><b>K veci</b> &mdash; automaticky načíta Váš zoznam predmetov a učiteľov</li>
<li><b>Flexibilná</b> &mdash; môžete sa k nej vrátiť neskôr, nemusíte všetko vyplniť naraz</li>
<li><b>Anonymná</b> &mdash; po ukončení hlasovania sa nedá zistiť, komu patria ktoré odpovede</li>
<li><b>Mobilná</b> &mdash; hlasujte kdekoľvek a s čímkoľvek, vrátane mobilov a smartfónov</li>
<li><b>Má prekrásne hviezdičky</b> &mdash; náš tím tvrdo pracoval, aby Vám poskytol <em>state-of-the-art</em> hviezdičkové hlasovanie</li>
</ul>

<p><strong>AJ VÁŠ HLAS MÔŽE ZMENIŤ NAŠU ALMA-MÁTER K LEPŠIEMU ;-)</strong><p>

{% include 'AnketaBundle:Welcome:likebox.html.twig' %}

{% endblock %}
