{% extends 'AnketaBundle::layout.html.twig' %}
{% block content %}

<h2>Študentská anketa FMFI</h2>

<p>Vitajte v Študentskej ankete 2011!</p>

<p>Hlasovanie v ankete je ukončené. Ďakujeme všetkým zúčastneným za vyplnenie :)</p>

<p><a class="bigbtn" id="uvod_prihlas" href="{{ path('statistics') }}">
<span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">Výsledky</span></span></span></a></p>

{% render "AnketaBundle:Hlasovanie:globalProgressbar" with { 'mode': 'finished' } %}

{#
<p>Aká je táto anketa?</p>
<ul>
<li><b>Rýchla</b> &mdash; obsahuje len málo otázok, zvlášť oproti starej ankete</li>
<li><b>K veci</b> &mdash; automaticky načíta Váš zoznam predmetov a učiteľov</li>
<li><b>Flexibilná</b> &mdash; môžete sa k nej vrátiť neskôr, nemusíte všetko vyplniť naraz</li>
<li><b>Anonymná</b> &mdash; po ukončení hlasovania sa nedá zistiť, komu patria ktoré odpovede</li>
<li><b>Mobilná</b> &mdash; hlasujte kdekoľvek a s čímkoľvek, vrátane mobilov a smartfónov</li>
<li><b>Má prekrásne hviezdičky</b> &mdash; náš tím tvrdo pracoval, aby Vám poskytol <em>state-of-the-art</em> hviezdičkové hlasovanie</li>
</ul>

<p><strong>AJ VÁŠ HLAS MÔŽE ZMENIŤ NAŠU ALMA-MÁTER K LEPŠIEMU ;-)</strong><p>
#}

{% include 'AnketaBundle:Welcome:likebox.html.twig' %}

{% endblock %}
