{% extends 'AnketaBundle::layout.html.twig' %}
{% block content %}

<h2>Študentská Anketa FMFI</h2>

<p>Vitaj v Študentskej ankete 2011! Zapoj sa aj ty a daj počuť svoj názor!</p>

<p><a class="bigbtn" id="uvod_prihlas" href="{{ path('anketa') }}">
<span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">Hlasuj!</span></span></span></a></p>


{% endblock %}
