{% extends 'AnketaBundle::layout.html.twig' %}
{% block main_content %}

<div id="uvod_velky_nadpis">

<h1>FMFI Anketa</h1>

</div>

<div id="uvod_split">
<div id="uvod_right">
<a class="bigbtn" id="uvod_prihlas" href="{{ path('anketa') }}">
<span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">Hlasuj!</span></span></span></a>
</div>
<div id="uvod_left">
Vitajte v ankete! prihlaste sa!

<p>
</p>
<ul>
<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<li>Duis non ante vitae urna interdum porta non et lectus.</li>
<li>Mauris tincidunt felis ut risus mattis venenatis.</li>
</ul>
<p></p>
<p>
</p><ul>
<li>Vestibulum dapibus arcu at diam fermentum in tincidunt felis blandit.</li>
<li>Cras non arcu a felis sodales vehicula.</li>
<li>Fusce non urna quis nibh ornare interdum.</li>
</ul>
<p></p>
<p>
</p><ul>
<li>Cras pretium sapien et velit gravida mollis.</li>
<li>Donec nec ipsum id eros pretium pharetra vitae ut erat.</li>
<li>Mauris adipiscing ornare enim, ac pellentesque est volutpat id.</li>
</ul>
</div>
</div>

{% endblock %}