
# /
/nbproject
/report

# /app/
/app/cache
/app/logs

# /app/config/
/app/config/parameters.ini
/app/config/config.yml

# /db/
/db/*

# /web/bundles/
/web/bundles/*

*~
.DS_Store
.*.sw[a-z]
Thumbs.db
