{% extends 'AnketaBundle::layout.html.twig' %}

{% block content %}
<h1>Administracia poziadaviek na priradenie ucitela k predmetu</h1>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Poznamka</th>
		</tr>
	</thead>
{% for ta in tas %}
	<tr>
		<td>{{ ta.id }}</td>
		<td>{{ ta.note }}</td>
	</tr>
	
{% endfor %}
</table>

{% endblock %}