<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
  <logging>
    <log type="coverage-html" target="../report/tests/coverage" charset="UTF-8"/                                              >
    <log type="testdox-html" target="../report/tests/report.html"/>
    <log type="testdox-text" target="../report/tests/report.txt"/>
    <log type="tap" target="../report/tests/report.tap"/>
  </logging>

  <!-- Konfiguraciu whitelistu pre code coverage -->
  <filter>
    <whitelist>
      <directory suffix=".php">../src</directory>
      <exclude>
        <file>../src/index.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
