{% extends 'AnketaBundle::layout.html.twig' %}

{% block title %}{% trans %}anonymizacia.anonymizuj.anonymizacia{% endtrans %}{% endblock %}

{% block navigation %}
    {{ menu.hlasovanie.render(['anonymizuj'])|raw }}
{% endblock %}

{% block content %}
<h2>{% trans %}anonymizacia.anonymizuj.ukoncenie{% endtrans %}</h2>
<p>{% trans %}anonymizacia.anonymizuj.vdaka{% endtrans %}</p>
<p>{% trans %}anonymizacia.anonymizuj.co.sa.stane{% endtrans %}</p>
<p>{% trans %}anonymizacia.anonymizuj.skontrolujte{% endtrans %} <strong class="warning">{% trans %}anonymizacia.anonymizuj.nevratny.proces{% endtrans %}</strong></p>
<form action="#" method="post">
<input type="submit" name="anonymizuj" value="{% trans %}anonymizacia.anonymizuj.ukoncit{% endtrans %}" />
&nbsp;&nbsp; <a href="{{ path('answer') }}">{% trans %}anonymizacia.anonymizuj.este.hlasovat{% endtrans %}</a>
</form>
{% endblock %}
