{% extends 'AnketaBundle:Hlasovanie:index.html.twig' %}

{% block title %}Anonymizácia - Anketa{% endblock %}

{% block navigation %}
    {% render "AnketaBundle:Hlasovanie:menu" with { 'activeItems': ['anonymizuj'] } %}
{% endblock %}

{% block content %}
<h2>Ukončenie hlasovania</h2>
<p>To je všetko. Ďakujeme!</p>
<p>Po kliknutí na tlačidlo "Ukončiť hlasovanie" anonymizujeme vaše odpovede &mdash; vymažeme z nich informáciu, že ste ich autorom. Preto si ich už nebudete môcť prezrieť alebo zmeniť.</p>
<p>Skontrolujte, či ste vyplnili všetko tak, ako ste chceli. <strong class="warning">Tento proces je nevratný. Nebudete môcť už nič zmeniť.</strong></p>
<form action="#" method="post">
<input type="submit" name="anonymizuj" value="Ukončiť hlasovanie" />
&nbsp;&nbsp; <a href="{{ path('answer') }}">Nie, ešte chcem hlasovať</a>
</form>
{% endblock %}
