{% extends 'AnketaBundle:Hlasovanie:index.html.twig' %}

{% block title %}Anonymizácia - Anketa{% endblock %}

{% block user_bar %}
    {% render "AnketaBundle:Hlasovanie:userBar" %}
{% endblock %}

{% block navigation %}
    {% render "AnketaBundle:Hlasovanie:menu" with { 'activeItems': ['anonymizuj'] } %}
{% endblock %}

{% block content %}
Naozaj to chceš?<br/>
Bude to mať takéto dôsledky!
<form action="#" method="post">
<input type="submit" name="anonymizuj" value="Anonymizuj" />
</form>
{% endblock %}
