{% extends 'AnketaBundle:Hlasovanie:index.html.twig' %}

{% block title %}Anketa{% endblock %}


{% block content %}
<h2>
{% if app.session.hasFlash('anonymizacia') %}
        {{ app.session.flash('anonymizacia') }}<br/>
{% endif %}
</h2>
<p>
Ďakujeme Vám za účasť v ankete.
</p>
<p>
Viac už nemôžete hlasovať.
</p>
<p>
Ak si myslíte, že k tejto situácii prišlo bez Vášho vedomia,
nahláste bug na <a href="http://code.google.com/p/fmfi-anketa/">http://code.google.com/p/fmfi-anketa/</a>.
</p>
{% endblock %}
