{% extends 'AnketaBundle:Statistics:index.html.twig' %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menuVseobecne" with { 'season' : season } %}
{% endblock %}
{% block content %}
    {% for category in categories %}
        <strong>{{ category.description }}: </strong>
        <br />
        {% for question in questions[category.id] %}
            <a href="{{ path('statistics_results_general', { 'season_id': season.id, 'question_id': question.id }) }}"
              >{{ question.question }}</a>
            <br />
        {% endfor %}
    {% endfor %}
{% endblock %}
