{% extends 'AnketaBundle:Statistics:index.html.twig' %}

{% block title %}{{ section.title }}{% endblock %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menu" with { 'activeItems': section.activeMenuItems } %}
{% endblock %}

{% block content %}
    {% if section.headingVisible %}
        <h1>{{ section.title }}</h1>
    {% endif %}
    <p>
        Tieto otázky vyplnilo menej ako {{ limit }} ľudí.
        Ich štatistická výpovedná hodnota je príliš nízka, aby sme ich
        mohli zverejniť študentom.
    </p>
    <p>
        Ak napriek tomu výsledky chcete vidieť,
        <a href="mailto:tomas.vinar@fmph.uniba.sk">môžete si ich vyžiadať</a>
        a my vám ich poskytneme.
    </p>
{% endblock %}
