{% extends 'AnketaBundle::layout.html.twig' %}
{% import 'AnketaBundle:Statistics:displayQuestionMacro.html.twig' as questionMacro %}
{% import 'AnketaBundle:Statistics:displayTeacherResponseMacro.html.twig' as responseMacro %}
{% block title %}Výsledky {{ season.description }}{% endblock %}
{% block navigation %}
    {{ menu.statistics.render(activeMenuItems)|raw }}
{% endblock %}
{% block content %}
    <h1>{% trans %}statistics.seasonReport.vysledky{% endtrans %} {{ season.description }}</h1>
    <p>
       {% trans with {'%season%': season.description, '%voters%': voters, '%total%': season.studentCount } %}statistics.seasonReport.pocet_hlasujucich{% endtrans %}
       {% trans %}statistics.seasonReport.celkova_ucast{% endtrans %}
       <strong>{{ "%.0f%%" | format(voteProgress.percentDone) }}</strong>.
    </p>
    <p>{% trans %}statistics.seasonReport.k_vysledkom_cez_menu{% endtrans %}</p>
{% endblock %}
