{% extends 'AnketaBundle:Statistics:index.html.twig' %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menu" with { 'activeItems': [season.id, 'study_programs'] } %}
{% endblock %}
{% block content %}
    <h3> Študijné programy </h3>
    <ul class="programs-listing">
    {% for program in study_programs %}
        <li><a href="{{ path('statistics_study_program', { 'season_slug': season.slug, 'program_slug': program.slug }) }}">
            {{ program.name }} ({{ program.code }})
        </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
