{% extends 'AnketaBundle:Statistics:index.html.twig' %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menuPredmety" with { 'season' : season, 'category' : category } %}
{% endblock %}
{% block content %}
    {% for category, subjects in categorized_subjects %}
        <h3> {{ category }} </h3>
        <ul class="category-listing subject-listing">
        {% for subject in subjects %}
            <li><a href="{{ path('results_subject', { 'season_slug': season.slug, 'subject_code': subject.code }) }}">
                {{ subject.name }} ({{ subject.code }})
            </a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
