{% extends 'AnketaBundle:Statistics:index.html.twig' %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menuPredmety" with { 'season' : season, 'category' : category } %}
{% endblock %}
{% block content %}
    {% for category, subjects in categorized_subjects %}
        <h3> {{ category }} </h3>
        {% for subject in subjects %}
            <a href="{{ path('results_subject', { 'season_id': season.id, 'category' : category, 'subject_id': subject.id }) }}">
                {{ subject.name }} ({{ subject.code }})
            </a>
            <br />
        {% endfor %}
    {% endfor %}
{% endblock %}
