<html>
    <h1> Anketa! </h1>
    {% block body %}
        <a href="{{ path('manage_questions') }}">Sprava otazok</a>
    {% endblock %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="{{ path('homepage') }}">Homepage</a>
</html>