{% extends 'AnketaBundle:ManageQuestions:layout.html.twig' %}

{% block content %}
Forma na pridanie otazky: <br />
<form action="#" method="post">
    {{ form_field(form) }}

    <input type="submit" value="Send!" />
</form>
{% endblock %}