{% extends 'AnketaBundle::layout.html.twig' %}
{% block main_content %}
    <h2>Sprava otazok</h2>
    <a href="{{ path('_addquestion') }}">Pridat otazku</a> | 
    <a href="{{ path('_listquestions') }}">List otazok</a> |
    <a href="{{ path('_answerquestions') }}">Vyplnat otazky</a>
    <br /><br />
    {% block content %}

    {% endblock %}
    <br />
{% endblock %}
