{% extends 'AnketaBundle:ManageQuestions:layout.html.twig' %}

{% block content %}
    Vypisujem vsetky otazky. <br />
    {% for question in questions %}
            <b> {{ question.getId }}: </b>
            <a href="{{ path('_viewquestion', { 'id': question.getId }) }}">{{ question.getQuestion }}</a><br />
    {% else %}
        Anketa nema ziadne otazky. Dakujeme za Vas cas.
    {% endfor %}
{% endblock %}