{% extends 'AnketaBundle:ManageQuestions:layout.html.twig' %}

{% block content %}
    <h3>{{ question.getQuestion }}</h3>
    Možnosti: {{ question.getOptions }} <br />
    Hodnotenie: {{ question.getEval }}
{% endblock %}