{% extends 'AnketaBundle:Manage:layoutQuestion.html.twig' %}

{% block content %}

hello, please fill in these questions:

<form action="#" method="post">
{% for question in questions %}
    <table>
        <tr>
            <td>
                Otazka: {{ question.getQuestion }}
            </td>
        </tr>
        <tr>
            <td>
                {% for option in question.getOptions %}
                    {# co chceme aby bolo value? id moznosti, cislo moznosti (1-5),
                        priamo text moznosti? nazory? zatial som dal id #}
                    <input type="radio" name="{{ question.getId }}" value="{{ option.getId }}">{{ option.getOption }}<br>
                {% endfor %}
            </td>
        </tr>
    </table> <br /> <br />
{% endfor %}
    <input type="submit" name="submit" value="submit" />
</form>

{% endblock %}