{% extends 'AnketaBundle:Manage:layout.html.twig' %}

    {% block managing_content %}
        <h2>Sprava otazok</h2>
        <a href="{{ path('add_question') }}">Pridat otazku</a> |
        <a href="{{ path('list_questions') }}">List otazok</a>
        <br /><br />
        {% block content %}

        {% endblock %}
    {% endblock %}
