{% extends 'AnketaBundle:Manage:layoutQuestion.html.twig' %}

{% block question_content %}
    Vypisujem vsetky otazky. <br />
    {% for question in questions %}
            <b> {{ question.id }}: </b>
            <a href="{{ path('view_question', { 'id': question.id }) }}">{{ question.question }}</a><br />
    {% else %}
        Anketa nema ziadne otazky. Dakujeme za Vas cas.
    {% endfor %}
{% endblock %}
