{% extends 'AnketaBundle:Answer:layout.html.twig' %}

{% block subcategory_navigation %}
    <h3> Zapisane predmety: </h3>
    {% for subject in attendedSubjects %}
        <a href="{{ path('answer_subject', { 'code': subject.getCode }) }}">{{ subject.getName }}</a>
        {% if not loop.last %}
            |
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
<br />
{{ subject.getName }}:
<br />

{% include 'AnketaBundle:Answer:includeQuestionsForm.html.twig' %}

{% endblock %}