{% extends 'AnketaBundle:Anketa:index.html.twig' %}

{% block section_navigation %}
    Vitaj vo vyplnani ankety. {{ progress }}
    <br />
    <h2>Kategorie:</h2>
    <a href="{{ path('answer_general') }}">Vseobecne otazky</a> |
    <a href="{{ path('answer_subject') }}">Predmety</a> |
    <a href="#">Este nieco ine?</a>
    <br /><br />

    {% block subcategory_navigation %}

    {% endblock %}

{% endblock %}

{% block content %}
    Tuto zatial nic nieje :(
{% endblock %}
