{% extends 'AnketaBundle:Anketa:index.html.twig' %}

{% block section_navigation %}
    <h2>Odpovedanie</h2>
    <a href="{{ path('_answergeneral') }}">Vseobecne otazky</a> |
    <a href="#">Predmety</a> |
    <a href="#">Este nieco ine?</a>
    <br /><br />
{% endblock %}

{% block content %}
    Tuto zatial nic nieje :(
{% endblock %}
