{% extends 'AnketaBundle:Reports:layout.html.twig' %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menuMojeReporty" with { 'season' : season } %}
{% endblock %}
{% block content %}
<h1>Hodnotenie katedry</h1>
{% endblock %}
