
html, body {
  background: #E0EFFF;
  color: #222;
}

a:link, a:visited, a:active {
  color: #003A76;
}

#user-bar {
  color: #777;
}

#user-bar a {
  color: inherit;
}

#sidebar .menu li.inner {
  background: transparent url("../images/collapsed.gif") no-repeat 0 0.3em;
}

#sidebar .menu li.inner.expanded {
  background: transparent url("../images/expanded.gif") no-repeat 0 0.3em;
}

/* zrusime rozbalovatka prvej urovne */
#sidebar .menu li.inner.menu-level-0 {
  background: none;
}

#sidebar .menu a.active {
  background: white url("../images/active.gif") repeat-y left center;
}

.mobile #sidebar .menu a.active {
  background-image: none;
  border-radius: 0.5em;
  padding-left: 1.5em;
}

#sidebar .menu a.menu-level-0 {
  color: black;
}

.progressbar-low {
  border-color: #CC6265;
}

.progressbar-low .done {
  background: #CC6265;
}

.progressbar-medium {
  border-color: #F5CD2B;
}

.progressbar-medium .done {
  background: #F5CD2B;
}

.progressbar-high {
  border-color: #5bf74e;
}

.progressbar-high .done {
  background: #5bf74e;
}

#content {
  background: white;
  border-radius: 1em;
}

.mobile #content {
  border-radius: 0;
}

.question {
  border-color: #DDD;
}

.question .description {
  color: #888;
}

#footer {
  color: #777;
}

