
body {
  font-size: 0.8em;
  line-height: 1.3em;
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  padding: 0 1em;
  text-align: justify;
}

.for-screen-readers {
  display: block;
  position: absolute;
  left: -5000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#container {
  margin: auto;
  max-width: 60em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

/*** HEADER + FOOTER ***/

#user-bar {
  float: right;
  margin-top: 1em;
}

#user-bar a {
  font-style: italic;
}

#header {
  /* prevent collapsing margins - see http://www.w3.org/TR/CSS21/box.html */
  padding: 1px;
}

#header h1 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 4em;
  line-height: 100%;
  margin: 0.8em 0;
}

#header h1 span {
  font-size: 160%;
}

#footer {
  clear: both;
  text-align: center;
  padding: 2em 0;
}

/*** SIDEBAR ***/

#sidebar {
  float: left;
  width: 29.9%;
  text-align: left;
}

.no-sidebar #sidebar {
  display: none;
}

#sidebar-inner {
  padding: 1em 1em 1em 0;
}

#sidebar .menu ul {
  margin: 0;
  padding: 0;
  margin-left: 18px;   /* width of collapsed.gif = 15px */
}

#sidebar .menu li {
  margin: 0;
  padding: 0;
  margin-left: -18px;   /* width of collapsed.gif = 15px */
  padding-left: 18px;
  list-style-type: none;
  list-style-image: none;
}

/* zrusime rozbalovatka prvej urovne */
#sidebar .menu ul.menu-level-0 {
  margin-left: 0;
}
#sidebar .menu li.menu-level-0 {
  margin-left: 0;
  padding-left: 0;
}

#sidebar .menu a {
  text-decoration: none;
  display: block;
  margin-right: -1.1em;
  padding: 0.2em 1.1em 0.2em 1em;
  text-indent: -1em;
}

#sidebar .menu a:hover {
  text-decoration: underline;
}

.menu a.menu-level-0 {
  font-weight: bold;
}

.progressbar,
.progressbar-low,
.progressbar-medium,
.progressbar-high {
  border: solid 1px;
  position: relative;
}

.progressbar .done,
.progressbar-low .done,
.progressbar-high .done,
.progressbar-medium .done {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40%;
}

.menu .progressbar,
.menu .progressbar-low,
.menu .progressbar-medium,
.menu .progressbar-high {
  width: 2.5em;
  height: 0.6em;
  float: right;
  margin: 0.2em 0 0.4em 0.2em;
}

.progressbar.velky {
  float: left;
  width: 90%;
  height: 1em;
}

/*** CONTENT ***/

#content {
  margin-left: 30%;
  padding: 1em;
}

.no-sidebar #content {
  margin-left: 0;
}

#content h2 {
  font-size: 2em;
  line-height: 100%;
  margin-top: 0.5em;
}

.question {
  margin: 1em 0;
  border-top: solid 1px;
  padding: 1.5em 0;
}

.question label {
  display: block;
  margin: 0.4em 0;
}

.question .comment label {
  margin: 0;
}

.question h3 {
  font-size: 100%;
  line-height: 100%;
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

#content .description {
  padding: 0.5em 0 0.2em;
}

#content .option {
  padding: 0.15em 0;
}

#content textarea {
  margin-top: 0.5em;
  width: 90%;
}

#content .submit {
  text-align: center;
}

#content .submit .save {
  float: left;
}

#content .submit .next {
  font-weight: bold;
  font-size: 1.2em;
}

#content .submit input {
  padding: 0 0.5em;
}

/*** BIGBTN ***/

.bigbtn_left {
    background: url("../images/bigbtn-left.png") no-repeat left center;
    display: block;
}

.bigbtn_right {
    background: url("../images/bigbtn-right.png") no-repeat right center;
    display: block;
}

.bigbtn_middle {
    background: url("../images/bigbtn-middle.png") repeat-x center center;
    display: block;
}

.bigbtn_in {
    display: block;
    height: 106px;
    line-height: 106px;
    text-align: center;
    color: black;
}

.bigbtn {
    text-decoration: none;
    display: block;
    width: 12em;
    margin: auto;
    font-size: 200%;
}

/* TODO: v starom main.css bola kopa symfony-specific veci (cca od #symfony-header po .flash-message). odkial boli, a chceme ich aj tu? */

