@charset "UTF-8";

body {
  font-size: 0.8em;
  line-height: 1.3;
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  padding: 0 1em;
}

p {text-align: justify;}

.for-screen-readers {
  display: block;
  position: absolute;
  left: -5000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#container {
  margin: auto;
  max-width: 60em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

th, td {
  text-align: left;
  border: 0 none;
  padding: 0.25em 0.5em;
}

td.numeric {
  text-align: right;
}

td {
  border-top: solid #EEE 1px;
}

th {
  background: #EAEAE1;
  border-bottom: solid #CCC 1px;
}

/* Forms */
input[type="text"], input[type="password"] {
  width: 15em;
}
input[type=text], textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #ffffff;
    border: thin solid #cccccc;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
}

input[type=text]:focus, textarea:focus {
    border-color: rgba(150,206,222, 0.8);
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150,206,222, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150,206,222, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150,206,222, 0.6);
    outline: 0;
}

input[readonly="readonly"] {
    background-color: #DDD;
}

/*** HEADER + FOOTER ***/

#user-bar {
  float: right;
  margin-top: 1em;
}

#user-bar a {
  font-style: italic;
}

.section {
  margin-right: 1em;
  font-weight: bold;
  text-decoration: none;
}

#section-bar {
  float: right;
  margin-top: 1em;
  margin-right: 1em;
}

#header {
  /* prevent collapsing margins - see http://www.w3.org/TR/CSS21/box.html */
  padding: 1px;
}

#header a {
  text-decoration: none;
}

#header h1 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1;   /* tu je line height 1.3 privelka medzera */
  margin: 0.8em 0;
}

#header h1 strong {
  font-size: 160%;
  text-transform: none;
}

#header #instance {
  text-transform: none;
  font-size: 0.8em;
}

#header #instance span {
  font-style: italic;
}

#footer {
  clear: both;
  text-align: center;
  padding: 2em 0;
}

/*** SIDEBAR ***/

#sidebar {
  float: left;
  width: 30%;
  text-align: left;
}

.no-sidebar #sidebar {
  display: none;
}

#sidebar-inner {
  padding: 1em 1em 1em 0;
}

#sidebar .menu ul {
  margin: 0;
  padding: 0;
  margin-left: 18px;   /* width of collapsed.gif = 15px */
}

#sidebar .menu li {
  margin: 0;
  padding: 0;
  margin-left: -18px;   /* width of collapsed.gif = 15px */
  padding-left: 18px;
  list-style-type: none;
  list-style-image: none;
}

/* zrusime rozbalovatka prvej urovne */
#sidebar .menu ul.menu-level-0 {
  margin-left: 0;
}
#sidebar .menu li.menu-level-0 {
  margin-left: 0;
  padding-left: 0;
}

#sidebar .menu a {
  text-decoration: none;
  display: block;
  margin-right: -1.1em;
  padding: 0.2em 1.1em 0.2em 1em;
  text-indent: -1em;
}

#sidebar .menu a:hover {
  text-decoration: underline;
}

.menu a.menu-level-0 {
  font-weight: bold;
}

.progressbar-welcome,
.progressbar-low,
.progressbar-medium,
.progressbar-high {
  border: solid 1px;
  position: relative;
}

.progressbar-welcome .anon,
.progressbar-welcome .voters,
.progressbar-low .done,
.progressbar-high .done,
.progressbar-medium .done {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.menu .progressbar,
.menu .progressbar-low,
.menu .progressbar-medium,
.menu .progressbar-high {
  width: 2.5em;
  height: 0.6em;
  float: right;
  margin: 0.2em 0 0.4em 0.2em;
}

.progressbar-welcome {
  font-size: 200%;
  width: 16em;
  margin: 0.5em auto;
  text-align: center;
  overflow: hidden;
}

.progressbar-welcome .text {
  position: relative;
}

/*** CONTENT ***/

#content {
  margin-left: 30%;
  padding: 1em;
}

.no-sidebar #content {
  margin-left: 0;
}

#content h2 {
  font-size: 135%;
  margin-top: 0.5em;
}

#content h2.faq {
  font-size: 135%;
  margin-top: 1em;
}

div.faq {
    margin-left: 10em;
    margin-right: 10em;
}

.faq-item {
  margin: 1em 0;
  border-bottom: solid 1px #DDDDDD;
  padding-bottom: 1.5em;
}

.question {
  margin: 1em 0;
  border-top: solid 1px;
  padding: 1.5em 0;
}

.question label {
  display: block;
  margin: 0.4em 0;
}

.question .comment label {
  margin: 0;
}

.question h3 {
  font-size: 100%;
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

#content .description {
  padding: 0.5em 0 0.2em;
}

#content .option {
  padding: 0.15em 0;
}

/* width/height/margin/padding/font a pod. treba mat nastavene rovnako na
   textarea aj .textareaClone, aby spravne fungovalo expandovanie */
#content textarea, #content .textareaClone {
  width: 90%;
  min-height: 3.5em;
}

#content .submit {
  text-align: center;
  margin-top: 1em;
}

#content .submit .save {
  float: left;
}

#content .submit .next {
  font-weight: bold;
  font-size: 1.2em;
}

#content .submit input {
  padding: 0 0.5em;
}

#content .association-description {
  text-align: left;
}

#content .association-description span {
  color: #888;
}

/*** FLASHES ***/

.flash-message {
    padding: 1.0em;
    min-height: 50px;
    padding-left: 50px;
    border: thin solid;
}

/*** BIGBTN ***/

.bigbtn_left {
    background: url("../images/bigbtn-left.png") no-repeat left center;
    display: block;
}

.bigbtn_right {
    background: url("../images/bigbtn-right.png") no-repeat right center;
    display: block;
}

.bigbtn_middle {
    background: url("../images/bigbtn-middle.png") repeat-x center center;
    display: block;
}

.bigbtn_in {
    display: block;
    height: 106px;
    line-height: 106px;
    text-align: center;
    color: black;
}

.bigbtn {
    text-decoration: none;
    display: block;
    width: 12em;
    margin: auto;
    font-size: 200%;
}

.results-comments div.comment {
    margin-top: 0.5em;
    border-top: 1px dashed #999;
    border-bottom: 1px solid transparent;
    padding-top: 0.4ex;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.results-comments div.comment:hover {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background: #E0EFFF;
}

.results-comments .flag-link {
    color: #7F9CBA;
    float: right;
    visibility: hidden;
}

.results-comments div.comment:hover .flag-link {
    visibility: visible;
}

.results-comments div.comment .flag-link:hover {
    color: #003A76;
    visibility: visible;
}

.results-comments div.comment:target,
h2:target {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: #E0EFFF;
}

.results-comments a.comment-link,
.category-listing a,
h2.fragment a {
    text-decoration: none;
}

h2.fragment a {
    color: black;
}

h2.fragment, .results-comments div.comment {
    position: relative;
}

.results-comments a.comment-link:hover,
.category-listing a:hover, .category-listing a:active{
    text-decoration: underline;
}

h2.fragment a:hover:after, .results-comments a.comment-link:hover:after {
    content: "¶";
    position: absolute;
    right: 0;
    color: #999;
}

.question-description {
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid #999;
}

.help-tooltip {
    border-bottom: 1px dashed black;
    cursor: help;
}

.results-comments-official {
  background-color: #FFFED4;
  padding: 0.5em;
}

.inappropriate-comments-info {
    font-style: italic;
    font-size: 100%;
    color: gray;
}

/* Buttons */
.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 0.6em 1em !important;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
a.btn:link, a.btn:visited {color: #222;}
.btn:hover, .btn:hover, .btn:focus, .btn:active, .btn.active {
    color: #333;
    text-decoration: none;
    background-image: none;
}

.btn-primary {
    color: #222;
    background-color: #cbeff8;
    background-image: linear-gradient(bottom, #96CEDE 33%, #CBEFF8 84%);
    background-image: -o-linear-gradient(bottom, #96CEDE 33%, #CBEFF8 84%);
    background-image: -moz-linear-gradient(bottom, #96CEDE 33%, #CBEFF8 84%);
    background-image: -webkit-linear-gradient(bottom, #96CEDE 33%, #CBEFF8 84%);
    background-image: -ms-linear-gradient(bottom, #96CEDE 33%, #CBEFF8 84%);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active {
    color: #222;
    background-color: #96CEDE;
}

.btn-large {
    font-size: 135%;
    padding: 0.8em 1.2em;
}

.page-section {
    margin-bottom: 1.2em;
}

#teaching-association fieldset input[type=checkbox] {margin-left: 4.5em;}
#teacher-search-result ul, #teaching-association input[type=text] {width: 20em;}
#teaching-association label {display: inline-block; width: 4em;}
#teacher-search-result ul {
    margin: 0;
    margin-left: 4.3em;
    padding: 0.5em;
    border: thin solid #CCC;
    border-top: none;
    position: relative;
    top: -1em;
}
#teacher-search-result ul li {list-style-type: none; line-height: 1.8;}
#teacher-search-result ul li:hover {background-color: #EEE;}

/* TODO: v starom main.css bola kopa symfony-specific veci (cca od #symfony-header po .flash-message). odkial boli, a chceme ich aj tu? */

